In [1]:
import pandas as pd

In [8]:
movies_df = pd.read_csv("movie_lens_small_several_rows.csv")
movies_df

        movieId  userId  rating  genre_encoded
0             1       1     4.0              0
1             1       1     4.0              1
2             1       1     4.0              2
3             1       1     4.0              3
4             1       5     4.0              0
...         ...     ...     ...            ...
235314   193583     184     3.5              2
235315   193583     184     3.5              3
235316   193585     184     3.5              5
235317   193587     184     3.5              6
235318   193609     331     4.0              2

[235319 rows x 4 columns]

In [9]:
enc_movie = {movide_id: i+1 for i, movide_id in enumerate(movies_df["movieId"].unique())}
movies_df['movieId'] = movies_df['movieId'].map(enc_movie)
movies_df

        movieId  userId  rating  genre_encoded
0             1       1     4.0              0
1             1       1     4.0              1
2             1       1     4.0              2
3             1       1     4.0              3
4             1       5     4.0              0
...         ...     ...     ...            ...
235314     9049     184     3.5              2
235315     9049     184     3.5              3
235316     9050     184     3.5              5
235317     9051     184     3.5              6
235318     9052     331     4.0              2

[235319 rows x 4 columns]

In [10]:
enc_movie = {movide_id: i+1 for i, movide_id in enumerate(movies_df["userId"].unique())}
movies_df['userId'] = movies_df['userId'].map(enc_movie)
movies_df

        movieId  userId  rating  genre_encoded
0             1       1     4.0              0
1             1       1     4.0              1
2             1       1     4.0              2
3             1       1     4.0              3
4             1       2     4.0              0
...         ...     ...     ...            ...
235314     9049     610     3.5              2
235315     9049     610     3.5              3
235316     9050     610     3.5              5
235317     9051     610     3.5              6
235318     9052     331     4.0              2

[235319 rows x 4 columns]

In [11]:
test_df = movies_df.sample(frac = 0.2)
train_df = movies_df.drop(test_df.index)
print(len(train_df), len(test_df))

188255 47064

In [12]:
train_df_i = train_df[['userId', 'movieId','genre_encoded']]
train_df_v = train_df[['rating']]
train_df_i.to_csv('train_idx.txt', sep='\t', index=False, header = None)
train_df_v.to_csv('train_v.txt', sep='\t', index=False,header = None)

In [13]:
test_df_i = test_df[['userId', 'movieId','genre_encoded']]
test_df_v = test_df[['rating']]
test_df_i.to_csv('test_idx.txt', sep='\t', index=False, header = None)
test_df_v.to_csv('test_v.txt', sep='\t', index=False,header = None)